/* Import fonts */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #1e90ff;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e90ff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
